.button-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.button-group-horizontal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button-group-horizontal button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border: 1px;
  border-color: #007bff;
  border-radius: 5px;
  background-color: #e0e0e0;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-group-horizontal button.selected {
  background-color: #007bff;
  color: #fff;
}

.fullWidth {
  width: calc(100% - 10px);
  margin: 0 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.apply-button {
  flex: 1;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 5px;
}

.apply-button:hover {
  background-color: #0056b3;
}

.cameraContainer {
  position: relative;
  width: 100%;
}

.cameraContainer select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.filter-section {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.datepicker-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mobile-filter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 50;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.filter-button {
  width: calc(100% - 10px);
  margin: 0 5px;
  padding: 10px;
}


.dropdown-button {
  width: 100%;
}

.dropdown-list {
  width: 100%;
}