.landingPage {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: 50px 0;
}

.textSection {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
}

.textSection h1 {
  font-size: calc(1.5em + 2vw);
}

.buttonSignIn {
  color: white;
  background-color: #004dae;
  border: none;
  border-radius: 7px;
  font-size: calc(1em + 1vw);
  padding: 1rem;
  margin-top: 20px;
}

.imageSection {
  width: calc(130px + 20%);
  height: auto;
  margin-left: 20px;
  max-width: 100%;
}

.statsSection {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 50px 0;
  background-color: #f9fbfb;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-align: center;
}

.statIcon {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}

.statText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.statTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.statValue {
  font-size: 2em;
}

.advertisement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  flex-wrap: wrap;
  text-align: center;
}

.adItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 70px 0;
}

.adItem2 {
  width: calc(100% + 20px); /* 부모 요소 너비에 더하기 20px */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #bde3ff;
  padding: 70px 0;
  margin-left: -10px; /* 부모 요소의 왼쪽 여백 제거 */
  margin-right: -10px; /* 부모 요소의 오른쪽 여백 제거 */
  box-sizing: border-box; /* 패딩과 테두리를 포함하여 요소 크기 계산 */
}

.adIcon {
  width: 150px;
  height: 150px;
  margin-left: 10%;
  margin-right: 20px;
}

.adIcon2 {
  width: 150px;
  height: 150px;
  margin-right: 10%;
  margin-left: 20px;
}

.adText {
  flex: 1;
  margin-left: 40px;
  text-align: left;
  font-size: 180%;
}

.adText2 {
  flex: 1;
  margin-right: 40px;
  text-align: right;
  font-size: 180%;
}

.callToAction {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.ctaIcon {
  width: 35%;
  height: auto;
}

@media (max-width: 1024px) {
  .statItem {
    transform: scale(0.8);
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .info {
    flex-direction: column;
    align-items: center;
  }

  .textSection {
    text-align: center;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .imageSection {
    margin-left: 0;
  }

  .textSection h1 {
    font-size: calc(1.5em + 2vw);
  }

  .buttonSignIn {
    font-size: calc(1em + 1vw);
  }

  .statItem {
    transform: scale(0.6);
    margin: 5px;
  }

  .statIcon {
    width: 60px;
    height: 60px;
  }

  .statTitle {
    font-size: 1em;
  }

  .statValue {
    font-size: 1.5em;
  }
}
