.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.footerLinks {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.footerLinks a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
}

.socialIcons img {
  margin: 0 0.5rem;
  height: 24px;
  cursor: pointer;
}
