@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기존 CSS 코드 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Do Hyeon', sans-serif;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
div {
  font-family: 'Do Hyeon', sans-serif;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWrap {
  flex: 1;
}
