.myPage {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  margin: 0 200px;
  margin-bottom: 50px;
}

.helloText {
  display: flex;
  padding: 50px 0;
}

span {
  color: #1e1e1e;
  font-family: 'Inter-Medium', Helvetica;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.57px;
  line-height: 45px;
}

.editIcon {
  padding-left: 20px;
  width: auto;
  height: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.borderBox {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  border: 4px solid #c1c1c17b;
  border-radius: 10px;
  width: 45%;
  height: 110px;
  position: relative; /* 자식 요소의 절대 위치 기준 */
}

.borderBoxIcon {
  width: auto;
  height: auto;
  position: absolute;
  left: 7%; /* deviceManagement의 왼쪽에서 10px 떨어진 위치 */
  top: 50%; /* 세로 중앙에 위치 */
  transform: translateY(-50%); /* 세로 중앙 정렬을 위한 보정 */
}
